.back-icon {
  margin-top: 40px;
  margin-left: 50px;
  cursor: pointer;
}

.appli-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 60%;
  height: auto;
  margin-top: 60px;
  background-color: white;
}

.info-appli {
  margin-left: 225px;
  margin-top: 70px;
}

.img-details {
  width: 200px;
  max-width: 100%;
  height: auto;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 100px;
}

.text-appli {
  font-size: 20px;
  font-weight: lighter;
}

.description-appli {
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 55px;
  width: 70%;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}

.services-appli {
  margin-left: 25px;
  width: 60%;
  height: auto;
}

.services-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 50px;
}

.modif {
  display: inline;
  width: 150px;
  height: 30px;
  margin-left: 5px;
}