html {
    background-color: #f2f3f5;
}


@media screen and (max-width: 690px){
    body {
        margin-left: 25% !important;
    }
    .formSearch {
        width: 60% !important; 
    }
}

@media screen and (max-width: 768px){
    body {
        margin-left: 20% !important; 
    }
}


.formSearch {
    background-color: #f2f3f5;
    position: absolute;
    width: 400px;
    top: 100px;
}

.block {
    position: absolute;
    width: 60%;
    top: 225px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.appli {
    width: 19rem;
    background-Color: #FFFFFF;
    height: 350px; 
    margin: auto;
    border-radius: 10px; 
    margin-bottom: 50px; 
}

.img {
    width: 130px;
    max-width: 100%;
	height: auto;
    margin: auto;
    margin-top: 5px;
}

.titre {
    text-align: center;
}

.text {
    margin: auto;
    text-align: center;
}