.button1 {
    background-color: #0B3862;
}

.button2 {
    background-color: #FFFFFF;
    color: #0B3862;
}

.add {
    margin-right: 15px;
    margin-bottom: 2%;
}

.delete {
    margin-right: 2px;
    margin-bottom: 2%;
}

.modification {
    Color: #000000 ;
    margin-bottom: 5px;
}
