.auth {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f5;
  margin-top: -56px;
}

.icon {
  margin-bottom: 30px;
  color: black;
}

.error {
  margin-top: 20px;
  color: red;
}