html {
  background-color: #f2f3f5;
  height: 100%;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 690px) {
  .search-bar {
    width: 60% !important;
  }
  .tel {
    display: none;
  }
}

.table {
  margin: auto;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  font-weight: lighter;
  width: 60%;
}

.head {
  background-color: #679ecb;
  color: #ffffff;
  font-style: normal;
  font-weight: lighter;
}

.button {
  margin: 0;
  margin-left: 20px;
  top: 500px;
  align-items: center;
  text-align: left;
  border: none;
  border-radius: 5px;
  width: 15ch;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(11, 56, 98, 0.8);
}

.reload {
  position: relative;
  left: 35px;
  top: 5px;
  cursor: pointer;
}

.option-blue {
  background-color: #679ecb;
  color: #ffffff !important;
  width: 50%;
}

.add-del {
  margin-top: 25px;
  Justify-Content: flex-end;
  margin-right: 23%; 
}

.tab-contain {
  margin-top: 100px; 
  background-color: #F2F3F5;
}

.pen-button {
  background-color: #FFFFFF; 
  border: none;
}

.center {
  display: flex;
  justify-content: center;
}