.heimdall {
    position: absolute;
    width: 60%;
    height: 400px;
    margin: auto;
    top: 85px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    width: 130px;
    max-width: 100%;
	height: auto;
    margin: auto;
    margin-top: 5px;
}

.block1 {
    position: absolute;
    width: 60%;
    height: 270px;
    margin: auto;
    top: 525px;
    background: #F2F3F5;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.usage {
    width: 58%;
    margin: auto;
    height: 100%;
    margin-left: 0;
    background: #FFFFFF;
    border-radius: 10px;
}

.services {
    width: 39%;
    margin: auto;
    height: 100%;
    margin-right: 0;
    background: #FFFFFF;
    border-radius: 10px;
}

.block2 {
    position: absolute;
    width: 60%;
    height: 270px;
    margin: auto;
    top: 840px;
    background: #F2F3F5;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.routeur {
    width: 39%;
    margin: auto;
    height: 100%;
    margin-left: 0;
    background: #FFFFFF;
    border-radius: 10px;
}

.cpu {
    width: 58%;
    margin: auto;
    height: 100%;
    margin-right: 0;
    background: #FFFFFF;
    border-radius: 10px;
}