html {
    background-color: #F2F3F5;
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.container {
    background-color: #F2F3F5;
}

@media screen and (max-width: 1500px){
    .heimdall {
        height: 550px !important; 
    }
    .block1 {
        top: 655px !important;
    }
    .block2 {
        top: 940px !important;
    }
}

@media screen and (max-width: 768px){
    body {
        margin-left: 20% !important; 
    }
}

@media screen and (max-width: 720px){
    body {
        margin-left: 10% !important;
    }
    .heimdall {
        height: 850px !important; 
        width: 80% !important;
    }
    .block1 {
        width: 80% !important;
        top: 975px !important;
    }
    .block2 {
        top: 1600px !important;
        width: 80% !important;
    }
    .usage {
        width: 100% !important;
        margin: auto;
    }
    .services {
        width: 100% !important;
        margin: auto;
        margin-top: 45px !important;
    }
    .routeur {
        width: 100% !important;
        margin: auto;
    }
    .cpu {
        width: 100% !important;
        margin: auto;
        margin-top: 45px !important;
    }
}



.heimdall {
    position: absolute;
    width: 60%;
    height: 400px;
    margin: auto;
    top: 85px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.truc {
    width: 23%;
    height: 110px;
    margin: auto;
    background-color: #F2F3F5;
    border: none;
    text-align: center; 
    border-radius: 10px;
}

.block1 {
    position: absolute;
    width: 60%;
    height: 270px;
    margin: auto;
    top: 525px;
    background: #F2F3F5;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.usage {
    width: 58%;
    margin: auto;
    height: 100%;
    margin-left: 0;
    background: #FFFFFF;
    border-radius: 10px;
}

.services {
    width: 39%;
    margin: auto;
    height: 100%;
    margin-right: 0;
    background: #FFFFFF;
    border-radius: 10px;
}

.block2 {
    position: absolute;
    width: 60%;
    height: 270px;
    margin: auto;
    top: 840px;
    background: #F2F3F5;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.routeur {
    width: 39%;
    margin: auto;
    height: 100%;
    margin-left: 0;
    background: #FFFFFF;
    border-radius: 10px;
}

.cpu {
    width: 58%;
    margin: auto;
    height: 100%;
    margin-right: 0;
    background: #FFFFFF;
    border-radius: 10px;
}