.option {
  text-align: left;
  color: #6c757d;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  border: 0px solid;
}

.option-value {
  text-align: right;
}

.arrow {
  margin-top: 15px;
}

.next-arrow {
  margin-right: 17px;
  position: absolute;
  right: 0;
}

.button-center {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button-add {
  background-color: #0B3862;
  border: none;
  border-radius: 5px; 
}

.button-add:hover, .button-add:focus, .button-add:active {
  background-color: rgba(11, 56, 98, 0.8);
}

.button-validate {
  height: 37px;
  position: absolute;
  left: 50%;  
  transform: translate(-50%);
  background-color: #0B3862;
  border: none;
  border-radius: 5px;   
}

.button-validate:hover, .button-validate:focus, .button-validate:active {
  background-color: rgba(11, 56, 98, 0.8);
}

.modal-title {
  text-align: center; 
  font-weight: lighter;
  margin-bottom: 25px; 
}