.data {
  text-align: left;
  color: #6c757d;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  border: 0px solid;
}

.user {
  text-align: right;
}

.next-arrow {
  margin-right: 17px;
  position: absolute;
  right: 0;
}
